/aboutme.png
/home_icon.png
/index.html
/Labs
/merge_branches.png
/myenv
/nav_bar.png
/new_recommendation.png
/popup.png
/profile_name.png
/projects.png
/Python Cheat Sheet - The Basics Coursera.pdf
/recommendations.png
/script.js
/singlepagewebsite
/singlepagewebsite.tar
/skills.png
/style.css